body
{
  min-width: 810px;
}
.listItem
{
  border-left: 1px solid grey;
  margin-left: 2px;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}
.left-content{
  float: left;
  display: inline-block;
  width: 20%;
}
tr, td
{
  border: 1px solid green;
}
table
{
  border-collapse: collapse;
  width: 79.87%;
  min-height: 357px;
  color:green;
}
